* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'cursive';
}

.collapse{
    margin-right: 5px;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}
nav{
    background: lightblue;
    position: fixed;
    font-family: 'Amatic SC';
    border-bottom: 2px solid black;
}

.navbar > a{
    color: #000;
}

.nav-item {
    margin: 10px;
    margin-left: 15px;
    text-align: center;
}

.nav-item .nav-link {
    font-size: 25px;

    display: inline;
}

.nav-item .nav-link:hover{
    border-bottom: 2px solid black;
}

.title-container {
    height: 100vh;
    background-image: url('../images/bg1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 13%;
}

.carousel-item {
    margin-left:10%;
    width: 80%;
}

.carousel-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}

.carousel-item div > h1 {
    color: #fff;
    font-family: 'Amatic SC';
    font-size: 80px;
}

.first-container {
    position: relative;
    height: 115vh;
    background-color: lightblue;
    border-top: 5px solid black;
    border-bottom: 5px solid lightblue;
}

.first-container > h1 {
    padding: 40px 0 0 40%;
    font-size: 50px;
}

.second-container {
    position: relative;
    height: 105vh;
    background-color: black;
    z-index: -1;
    border-top: 5px solid lightblue;
    border-bottom: 5px solid lightblue;
}

.third-container {
    position: relative;
    height: 80vh;
    background: url('../images/bg2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.third-container .third-inner{
    position: relative;
    height: 80vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccc;
    line-height:  1;
    border-bottom: 5px solid lightblue;
}

.third-inner h1{
    font-size: 80px;
    line-height:  1;

}
.third-inner h2{
    font-size: 40px;
    line-height:  1;

}
.third-inner p{
    width: 70%;
    font-size: 40px;
}

.fourth-container {
    position: relative;
    height: 105vh;
    background-color: black;
    border-bottom: 5px solid lightblue;
}

.fourth-container > h1 {
    padding: 40px 0 0 46%;
    font-size: 50px;
    color: #ccc;
}

.card {
    width:400px;
    height: 500px;
    border: 2px solid lightblue;
    background: black;
    color: white;
}

.card-body {
    border-top: 2px solid lightblue;
}

.fifth-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/bg1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    border-bottom: 5px solid lightblue;

}

.fifth-container .fifth-inner {
    position: relative;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    color: #ccc;
    font-size: 20px;
}

/* --------------------------ONE */
.one {
    display: flex;
    transform: translate(6%, 5%);
    height: 300px;
    width: 90%;
    background: #000;
    margin-bottom: 20px;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
}

.one .content{
    width: 50%;
    background: #000;
    box-sizing: border-box;
}

.one .content div {
    margin:13%;
    width: 100%;
    flex-wrap: wrap;
    font-size: 30px;
    color: #ccc;

}


.one .imageBox{
    width: 70%;
    height: 100%;
    clip-path: polygon(33% 0, 100% 0%, 100% 100%, 0% 100%);
    box-sizing: border-box;
    background: url('../images/dining.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------------------------TWOs */

.two {
    display: flex;
    transform: translate(6%, 5%);
    height: 300px;
    width: 90%;
    background: #000;
    margin-bottom: 20px;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
}

.two .content{
    width: 50%;
    background: #000;
    box-sizing: border-box;
}

.two .content div {
    margin-left: -7%;
    margin-top: 10%;
    width: 100%;
    flex-wrap: wrap;
    font-size: 30px;
    color: #ccc;
}

.two .imageBox{
    width: 81%;
    height: 100%;
    clip-path: polygon(0 0, 67% 0, 100% 100%, 0 100%);
    box-sizing: border-box;
    background: url('../images/spa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------------------------THREE */
.three {
    display: flex;
    transform: translate(6%, 5%);
    height: 300px;
    width: 90%;
    background:lightblue;
    margin-bottom: 20px;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
    border: 2px solid lightblue;
}

.three .content{
    width: 50%;
    background:lightblue;
    box-sizing: border-box;
}

.three .content div {
    margin:10%;
    width: 100%;
    flex-wrap: wrap;
    font-size: 30px;
    color: #000;
}

.three .imageBox{
    width: 70%;
    height: 100%;
    clip-path: polygon(33% 0, 100% 0%, 100% 100%, 0% 100%);
    box-sizing: border-box;
    background: url('../images/gym.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------------------------FOUR */
.four {
    display: flex;
    transform: translate(6%, 5%);
    height: 300px;
    width: 90%;
    background: lightblue;
    margin-bottom: 20px;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
    border: 2px solid lightblue;
}

.four .content{
    width: 50%;
    background: lightblue;
    box-sizing: border-box;
}

.four .content div {
    margin-left: -7%;
    margin-top: 10%;
    width: 100%;
    flex-wrap: wrap;
    font-size: 30px;
    color: #000;
}

.four .imageBox{
    width: 81%;
    height: 100%;
    clip-path: polygon(0 0, 67% 0, 100% 100%, 0 100%);
    box-sizing: border-box;
    background: url('../images/pool.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer
{
    height: 100px;
    width: 100%;
    background: #000;
    color: white;
    text-align: center;
}

footer .foots{
    position: relative;
    font-size: 25px;
    padding-top: 25px;
}

@media only screen and (min-width: 360px) /* ------------------------------------------------------------- */

{
    .title-container {
        height: 50vh;
    }
    
    .title {
        padding-top: 15%;
    }

    .carousel-item div > h1 {
        font-size: 30px;
    }

    .first-container {
        height: 85vh;
    }
    
    .first-container > h1 {
        padding: 50px 0 0 20%;
        font-size: 40px;
    }

    .second-container {
        height: 75vh;
    }
    .third-container {
        height: 50vh;
    }
    
    .third-container .third-inner{
        height: 50vh;
    }
    
    .third-inner h1{
        font-size: 35px;    
    }

    .third-inner h2{
        font-size: 20px;
    }

    .third-inner p{
        font-size: 20px;
        line-height:  1.3;
    }

    .fourth-container {
        height: 248vh;
    }
    
    .fourth-container > h1 {
        font-size: 50px;
        color: #ccc;
    }

    .fifth-container {
        height: 90vh;
    }
    
    .fifth-container .fifth-inner {
        height: 90vh;
    }
    
    .card {
        width:300px;
        height: 450px;
        border: 4px solid lightblue;
        margin-bottom: 10px;
    }
    
    /* --------------------------ONE */
    .one {
        height: 200px;
    }

    .one .content div {
        font-size: 15px;
        color: #ccc;
    }

    /* --------------------------TWO */
    .two {
        height: 200px;
    }

    .two .content div {
        font-size: 15px;
    }

    /* --------------------------THREE */
    .three {
        height: 200px;
    }

    .three .content div {
        font-size: 15px;
        color: black;
    }

    /* --------------------------FOUR */
    .four {
        height: 200px;
    }

    .four .content div {
        font-size: 15px;
    }

    footer .foots{
        margin: auto;
        width: 90%;
        font-size: 13px;
    }

}

@media only screen and (min-width: 768px) /* ------------------------------------------------------------- */
{
    .title-container {
        height: 40vh;
    }
    
    .title {
        padding-top: 14%;
    }

    .carousel-item div > h1 {
        font-size: 50px;
    }

    .first-container {
        height: 63vh;
    }
    
    .first-container > h1 {
        padding: 50px 0 0 20%;
        font-size: 40px;
    }

    .second-container {
        height: 55vh;
    }

    .third-container {
        height: 50vh;
    }
    
    .third-container .third-inner{
        height: 50vh;
    }
    
    .third-inner h1{
        font-size: 70px;    
    }

    .third-inner h2{
        font-size: 40px;
    }

    .third-inner p{
        font-size: 40px;
        line-height:  1.3;
    }

    .fourth-container {
        height: 170vh;
    }
    
    .fourth-container > h1 {
        font-size: 60px;
        color: #ccc;
    }

    .fifth-container {
        height: 55vh;
    }
    
    .fifth-container .fifth-inner {
        height: 55vh;
    }
    
    .card {
        width:400px;
        height: 500px;
        border: 4px solid lightblue;
        margin-bottom: 20px;
    }
    
    /* --------------------------ONE */
    .one {
        height: 250px;
    }

    .one .content div {
        font-size: 20px;
        color: #ccc;
    }

    /* --------------------------TWO */
    .two {
        height: 250px;
    }

    .two .content div {
        font-size: 20px;
    }

    /* --------------------------THREE */
    .three {
        height: 250px;
    }

    .three .content div {
        font-size: 20px;
        color: black;
    }

    /* --------------------------FOUR */
    .four {
        height: 250px;
    }

    .four .content div {
        font-size: 20px;
    }

    footer .foots{
        margin: auto;
        width: 90%;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) /* ------------------------------------------------------------- */
{   

    .collapse{
        margin-right: 5px;
    }
    
    .navbar-dark .navbar-nav .nav-link {
        color: black;
    }

    nav{
        background: lightblue;
        position: fixed;
        font-family: 'Amatic SC';
        border-bottom: 2px solid black;
    }

    .navbar > a{
        color: #000;
        font-size: 25px;
    }
    
    .nav-item {
        margin: 10px;
        margin-left: 15px;
        text-align: center;
    }
    
    .nav-item .nav-link {
        font-size: 20px;
        display: inline;
    }
    
    .nav-item .nav-link:hover{
        border-bottom: 2px solid black;
    }
    
    .title-container {
        height: 100vh;
        background-image: url('../images/bg1.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .title {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 13%;
    }
    
    .carousel-item {
        margin-left:10%;
        width: 80%;
    }
    
    .carousel-item > div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 200px;
    }
    
    .carousel-item div > h1 {
        color: #fff;
        font-family: 'Amatic SC';
        font-size: 80px;
    }
    
    .first-container {
        position: relative;
        height: 115vh;
        background-color: lightblue;
        border-top: 5px solid black;
        border-bottom: 5px solid lightblue;
    }
    
    .first-container > h1 {
        padding: 40px 0 0 40%;
        font-size: 50px;
    }
    
    .second-container {
        position: relative;
        height: 105vh;
        background-color: black;
        z-index: -1;
        border-top: 5px solid lightblue;
        border-bottom: 5px solid lightblue;
    }
    
    .third-container {
        position: relative;
        height: 80vh;
        background: url('../images/bg2.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    .third-container .third-inner{
        position: relative;
        height: 80vh;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ccc;
        line-height:  1;
        border-bottom: 5px solid lightblue;
    }
    
    .third-inner h1{
        font-size: 80px;
        line-height:  1;
    
    }
    .third-inner h2{
        font-size: 40px;
        line-height:  1;
    
    }
    .third-inner p{
        width: 70%;
        font-size: 40px;
    }
    
    .fourth-container {
        position: relative;
        height: 105vh;
        background-color: black;
        border-bottom: 5px solid lightblue;
    }
    
    .fourth-container > h1 {
        padding: 40px 0 0 46%;
        font-size: 50px;
        color: #ccc;
    }
    
    .card {
        width:400px;
        height: 500px;
        border: 2px solid lightblue;
    }
    
    .card-body {
        border-top: 2px solid lightblue;
    }
    
    .fifth-container {
        position: relative;
        height: 100vh;
        width: 100%;
        background-image: url('../images/bg1.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: center;
        border-bottom: 5px solid lightblue;
    
    }
    
    .fifth-container .fifth-inner {
        position: relative;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        color: #ccc;
        font-size: 20px;
    }
    
    /* --------------------------ONE */
    .one {
        display: flex;
        transform: translate(6%, 5%);
        height: 300px;
        width: 90%;
        background: #000;
        margin-bottom: 20px;
        box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
        border: 2px solid black;
    }
    
    .one .content{
        width: 50%;
        background: #000;
        box-sizing: border-box;
    }
    
    .one .content div {
        margin:13%;
        width: 100%;
        flex-wrap: wrap;
        font-size: 30px;
        color: #ccc;
    
    }
    
    
    .one .imageBox{
        width: 70%;
        height: 100%;
        clip-path: polygon(33% 0, 100% 0%, 100% 100%, 0% 100%);
        box-sizing: border-box;
        background: url('../images/dining.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    /* --------------------------TWOs */
    
    .two {
        display: flex;
        transform: translate(6%, 5%);
        height: 300px;
        width: 90%;
        background: #000;
        margin-bottom: 20px;
        box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
        border: 2px solid black;
    }
    
    .two .content{
        width: 50%;
        background: #000;
        box-sizing: border-box;
    }
    
    .two .content div {
        margin-left: -7%;
        margin-top: 10%;
        width: 100%;
        flex-wrap: wrap;
        font-size: 30px;
        color: #ccc;
    }
    
    .two .imageBox{
        width: 81%;
        height: 100%;
        clip-path: polygon(0 0, 67% 0, 100% 100%, 0 100%);
        box-sizing: border-box;
        background: url('../images/spa.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    /* --------------------------THREE */
    .three {
        display: flex;
        transform: translate(6%, 5%);
        height: 300px;
        width: 90%;
        background:lightblue;
        margin-bottom: 20px;
        box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
        border: 2px solid lightblue;
    }
    
    .three .content{
        width: 50%;
        background:lightblue;
        box-sizing: border-box;
    }
    
    .three .content div {
        margin:10%;
        width: 100%;
        flex-wrap: wrap;
        font-size: 30px;
        color: #000;
    }
    
    .three .imageBox{
        width: 70%;
        height: 100%;
        clip-path: polygon(33% 0, 100% 0%, 100% 100%, 0% 100%);
        box-sizing: border-box;
        background: url('../images/gym.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    /* --------------------------FOUR */
    .four {
        display: flex;
        transform: translate(6%, 5%);
        height: 300px;
        width: 90%;
        background: lightblue;
        margin-bottom: 20px;
        box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
        border: 2px solid lightblue;
    }
    
    .four .content{
        width: 50%;
        background: lightblue;
        box-sizing: border-box;
    }
    
    .four .content div {
        margin-left: -7%;
        margin-top: 10%;
        width: 100%;
        flex-wrap: wrap;
        font-size: 30px;
        color: #000;
    }
    
    .four .imageBox{
        width: 81%;
        height: 100%;
        clip-path: polygon(0 0, 67% 0, 100% 100%, 0 100%);
        box-sizing: border-box;
        background: url('../images/pool.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    footer
    {
        height: 100px;
        width: 100%;
        background: #000;
        color: white;
        text-align: center;
    }
    
    footer .foots{
        position: relative;
        font-size: 25px;
        padding-top: 25px;
    }
}

    